.movieCard {
  width: 100%;
  align-self: center;
  border: 0.2px solid #acacac;
  margin: 10px 0;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 0.5px #acacac;
}

.movieCard:hover {
  text-decoration: none;
  color: black;
}

.moviePoster {
  border-radius: 10px;
  width: 91px;
  height: 141px;
  object-fit: cover;
}

.movieBody {
  padding: 10px 15px;
  > h4 {
    font-size: 1.2em!important;
  }
  &__release {
    white-space: nowrap;
    color: #999;
    margin: -10px 0 20px 0;
    font-size: 1em;
  }
  &__des {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.movieDes {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}