.movieCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.movieCard {
  width: 80%;
  align-self: center;
  border: 1px solid;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px grey;
}

.moviePoster {
  border-radius: 10px;
  margin: 0.2px 0.5px;
}

.movieBody {
  padding: 10px 15px;
}

.movieDes {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.noContent {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.loading {
  @extend .noContent;
  margin: 250px 0;
}
