.searchContainer {
  display: flex;
  justify-content: center;
  &__inner {
    display: flex;
    justify-content: center;
    width: 96%;
    max-width: 1238px;
  }
}
.movieCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0.75;
}

.noContent {
  @extend .movieCardContainer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0.8;
  margin-top: 8px;
}

.loading {
  @extend .noContent;
  margin: 250px 0;
  &__spinner {
    width: 3rem;
    height: 3rem;
  }
}
