.searchHeader {
  background-image: url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/r2NcIZ1FPMlxCty3vRITVTgGNVS.jpg');
  padding: 50px 0;
  &__intro {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    > h2 {
      display: flex;
      font-size: 3em;
      width: 96%;
      max-width: 1238px;
    }
    > h3 {
      display: flex;
      font-size: 2em;
      width: 96%;
      max-width: 1238px;
    }
  }
}
.searchContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.searchContainerMain {
  @extend .searchContainer;
  height: 300px;
}
  
.searchInput {
  border-radius: 30px!important;
  width: 96%!important;
  max-width: 1238px;
  margin: 20px 0;
}
.searchInput:hover {
  outline: none;
}

.searchInput:focus {
  border-color: #ced4da!important;
  box-shadow: none!important;
}

.searchButton {
  height: 48px;
  padding: 10px 35px;
  border: none;
  background: linear-gradient(to right, rgba(var(--30,213,169), 1) 0%, rgba(var(--1,180,228), 1) 100%);
  border-radius: 30px;
  color: rgba(255,255,255, 1);
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0 -120px;
}
.searchButton:hover {
  text-decoration: none;
  color: rgba(var(--3,37,65));
  font-weight: 700;
}