.header {
    background-color: rgb(6, 44, 86);
    justify-content: space-between;
    display: flex;
}
.link {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.link:hover {
  text-decoration: none;
  color: #fff;
}
 
@media screen and (min-width: 1280px) {
    .header {
        &__content {
            background-color: rgb(6, 44, 86);
            width: 1280px;
        }
    }
}